@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif; 
}

@font-face {
    font-family: 'Airone';
    src: url('./assets/fonts/AironeFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ql-editor {
    font-size: .9rem;
}